<<<<<<< HEAD
﻿/*both pages*/
footer {
    clear: both;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #3b6978;
    font-size: 15px;
}

/*Login Page CSS*/
#loginFormDiv, #errorMessageDiv {
    text-align: center;
    background-color: #84a9ac;
    padding-top: 40px;
    padding-bottom: 50px;
}

#loginForm {
    display: inline-block;
    margin: auto;
}

#loginTable {
    text-align: center;
    color: #ffffff;
}

#errorMessage {
    display: inline-block;
    margin: auto;
    color: red;
}

/*Register Page CSS*/
.registryInputs {
    width: 130px;
}

.registrySelects {
    width: 134px;
}

#registerFormDiv {
    text-align: center;
    background-color: #84a9ac;
    padding-top: 40px;
    padding-bottom: 50px;
}
#registerForm {
    display: inline-block;
    margin: auto;
}
#registerTable {
    text-align: left;
    color: #808080;
}


.header {
    padding: 30px; /* some padding */
    text-align: center; /* center the text */
    background: #204051; /* background */
    color: #808080; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
    font-size: 60px;
    color: #ffffff;
    text-align: left;
    margin-left: 70px
    }

/*Homepage*/
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #84a9ac;
}

.currentNameBar {
    cursor: pointer;
}

/*Mentee Page*/

.currentMentorsDiv {
    float: left;
    width: 33%;
    
}

.mentorListDiv {
    float: left;
    width: 66%;
}

/*Mentor Mentee Page*/

.mentorSideDiv {
    float: left;
    width: 33%;
}

.menteeSideDiv {
    float: left;
    width: 66%;
}


/*global and can be out anywhere*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: red;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

header {
    background: #204051;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #3b6978 8px solid;
}


header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
=======
﻿/*both pages*/
footer {
    clear: both;
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #3b6978;
    font-size: 15px;
}

/*Login Page CSS*/
#loginFormDiv, #errorMessageDiv {
    text-align: center;
    background-color: #84a9ac;
    padding-top: 40px;
    padding-bottom: 50px;
}

#loginForm {
    display: inline-block;
    margin: auto;
}

#loginTable {
    text-align: center;
    color: #ffffff;
}

#errorMessage {
    display: inline-block;
    margin: auto;
    color: red;
}

/*Register Page CSS*/
.registryInputs {
    width: 130px;
}

.registrySelects {
    width: 134px;
}

#registerFormDiv {
    text-align: center;
    background-color: #84a9ac;
    padding-top: 40px;
    padding-bottom: 50px;
}
#registerForm {
    display: inline-block;
    margin: auto;
}
#registerTable {
    text-align: left;
    color: #808080;
}


.header {
    padding: 30px; /* some padding */
    text-align: center; /* center the text */
    background: #204051; /* background */
    color: #808080; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
    font-size: 60px;
    color: #ffffff;
    text-align: left;
    margin-left: 70px
    }

/*Homepage*/
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #84a9ac;
}

.currentNameBar {
    cursor: pointer;
}

/*Mentee Page*/
.currentMentorsDiv {
    float: left;
    width: 33%;
    color: #4d4d4d;
}

.mentorListDiv {
    float: left;
    width: 66%;
    color: #4d4d4d;
}

/*Mentor Mentee Page*/

.mentorSideDiv {
    float: left;
    width: 33%;
}

.menteeSideDiv {
    float: left;
    width: 66%;
}


/*global and can be out anywhere*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 38px;
    background: red;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

header {
    background: #204051;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #3b6978 8px solid;
}


header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
>>>>>>> style
    font-size: 20px;

}


header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    /*margin-top: 10px;*/
}

header a:hover {
    color: #3b6978;
    font-weight: bold;
}


#create {
    width: 25%;
    background: #84a9ac;
    float: left;
    padding: 2%;
}

h2 {
    color: #ffffff;
}

#eventBar {
    width: 25%;
    background: #84a9ac;
    float: left;
    padding: 2%;
    clear: left;
}

#newClassName, #newDate {
    width: 100%;
}

#newDesc, #newTime, #newLocation {
    width: 103%;
}

#eventsListDiv {
    float: right;
    background: #84a9ac;
    padding: 1%;
    width: 67%;
}

.eventCard {
    padding: 2px;
    border: 2px solid black;
}

.creatorBar {
    padding: 2px;
    border-bottom: 2px solid black;
}

.bottomBar {
    border-top: 2px solid black;
    text-align: right;
    overflow: auto;
}

.rsvpButton{
    padding: 2px;
}

.rsvpDiv {
    float: left;
    overflow: auto;
}

section:after {
    content: "";
    display: table;
    clear: both;
}


/*Profile*/
.oval {
    height: 240px;
    width: 170px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    display: table;
}
#printProfile{
    text-align:center;
    font-size: 25pt;
    font-family: Rubik;
}
.reportButton{
    list-style-type:none;
}

